.progress-bar {
    -fx-accent: #1E90FF;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
    -fx-padding: 0.25em;
}

.progress-bar > .track {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 10;
}

.progress-bar > .bar {
    -fx-background-color: #1E90FF;
    -fx-background-radius: 10;
}