.date-picker {
    -fx-background-color: #f0f8ff;
    -fx-font-size: 12px;
}

.date-picker .arrow-button {
    -fx-background-color: #007acc;
    -fx-background-radius: 30;
    -fx-translate-x: 4px;
    -fx-cursor: hand;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: white;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.date-picker .text-field {
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-text-fill: #333333;
    -fx-border-color: #BBBBBB;
    -fx-border-radius: 30;
    -fx-font-size: 12px;
}
