.date-picker {
    -fx-background-color: white;
    -fx-font-size: 16px;
    -fx-font-family: 'Inter';
}

.date-picker .arrow-button {
    -fx-background-color: #6E9BC7;
    -fx-background-radius: 8;
    -fx-translate-x: 4px;
    -fx-cursor: hand;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: white;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.date-picker .text-field {
    -fx-background-color: #F6FAFF;
    -fx-background-radius: 8;
    -fx-text-fill: #333333;
    -fx-border-radius: 30;
    -fx-font-size: 14px;
}

.combo-box .list-cell {
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.combo-box .arrow-button {
    -fx-background-color: #6E9BC7;
    -fx-background-radius: 0 10 10 0;
}

.combo-box .arrow {
    -fx-background-color: white;
}

.combo-box .combo-box-popup {
    -fx-background-color: white;
    -fx-background-border: 10;
    -fx-padding: 0 5 0 5;
}

.combo-box .combo-box-popup .list-view {
    -fx-background-color: white;
}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-background-color: #e0f0ff;
    -fx-text-fill: #1E90FF;
}
