.table-view .scroll-bar:vertical,
.table-view .scroll-bar:horizontal {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
    -fx-opacity: 0;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.table-view {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}